<!DOCTYPE html>
<html lang="@@lang">

<head>
  <title>@@title</title>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="theme-color" content="#ffffff">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&amp;subset=latin-ext" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/vendor.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
<header class="header">

  <div class="content">
    <a href="/" class="header__logo">
      <img src="assets/images/logo.png" alt="logo">
    </a>
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Special offers</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Browse vehicles</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">About us</a>
        </li>
      </ul>
    </nav>
    <nav class="header__nav header__nav--logged">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="#" class="icon-cart header__nav-link header__nav-link--cart"></a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="icon-user header__nav-link header__nav-link--user-active dropdown-btn-js">
            <i class="icon-angle-down"></i>
          </a>
        </li>
      </ul>
      <div class="header__dropdown">
        <div class="header__dropdown-item">
          <ul>
            <li class="header__dropdown-list">
              <a href="#" class="header__dropdown-link header__dropdown-link--active">Contacts</a>
            </li>
            <li class="header__dropdown-list">
              <a href="#" class="header__dropdown-link">Wishlist</a>
            </li>
          </ul>
        </div>
        <div class="header__dropdown-item">
          <ul>
            <li class="header__dropdown-list">
              <a href="#" class="header__dropdown-link">Account settings</a>
            </li>
            <li class="header__dropdown-list">
              <a href="#" class="header__dropdown-link">Fleet Management</a>
            </li>
          </ul>
        </div>
        <div class="header__dropdown-item">
          <ul>
            <li class="header__dropdown-list">
              <a href="#" class="header__dropdown-link">Login / Sign Up</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

</header><!--header-->
