// Font family
$montserrat: 'Montserrat', sans-serif;

// Font sizes
$small-font-size: 12px;
$regular-font-size: 14px;
$big-font-size: 18px;
$title-font-size: 20px;
$block-title-font-size: 24px;
$section-title-font-size: 40px;


// Colors
$black: #000;

$gray: #e7e7e7;
$gray-dark: #4f4f4f;
$gray-slider: #efefef;
$gray-brand: #7f7f7f;

$white: #fff;

$red: #fa454b;
$red-dark: #d0021b;

$beige: #cfb995;
$beige-light: #f1eade;


// RWD
$desktop-big: ' only screen and (max-width:1600px)';

$tablet-big: ' only screen and (max-width:1024px)';

$mobile: ' only screen and (max-width:767px)';
